
/*---------------------
  Map
-----------------------*/

.map {
    height: 500px;
    position: relative;
  }
  
  .map iframe {
    width: 100%;
  }
  
  .map .map-inside {
    position: absolute;
    left: 50%;
    top: 160px;
    -webkit-transform: translateX(-175px);
    -ms-transform: translateX(-175px);
    transform: translateX(-175px);
  }
  
  .map .map-inside i {
    font-size: 48px;
    color: #7fad39;
    position: absolute;
    bottom: -75px;
    left: 50%;
    -webkit-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    transform: translateX(-18px);
  }
  
  .map .map-inside .inside-widget {
    width: 350px;
    background: #ffffff;
    text-align: center;
    padding: 23px 0;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
    box-shadow: 0 0 20px 5px rgba(12, 7, 26, 0.15);
  }
  
  .map .map-inside .inside-widget:after {
    position: absolute;
    left: 50%;
    bottom: -30px;
    -webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px);
    border: 12px solid transparent;
    border-top: 30px solid #ffffff;
    content: "";
    z-index: -1;
  }
  
  .map .map-inside .inside-widget h4 {
    font-size: 22px;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 4px;
  }
  
  .map .map-inside .inside-widget ul li {
    list-style: none;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
  }

/*---------------------
  Contact
-----------------------*/


.elementor-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin: 20px;
}

.elementor-widget-wrap1 {
  float: left;
  width: 100%;
}

.elementor-widget-wrap2 {
  float: right;
  width: 100%;
}

.elementor-column {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.elementor-element {
  margin-bottom: 20px;
}

.elementor-heading-titler,
.woodmart-title-container {
  font-size: 24px;
  color: #26B402;
  margin-bottom: 20px;
  display: inline-block; 
}

.elementor-heading-titler {
  margin-right: 10px; 
}

.elementor-field,
.elementor-field-textual {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.elementor-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.elementor-button:hover {
  background-color: #0b8d11;
}

.info-box-inner {
  color: #333333;
  line-height: 1.6;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .elementor-container {
      flex-direction: column;
  }

  .elementor-column {
      width: 100%;
  }
}
a {
  text-decoration: none !important;
}
