.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .my-2 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .user__border {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .order-lg-2 {
    order: 2;
  }
  
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  
  .nav-item {
    position: relative;
    margin: 0;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .nav-link.active {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
  
  .nav-link.active:focus,
  .nav-link.active:hover {
    border: 1px solid #ddd;
  }
  
  .nav-link:focus,
  .nav-link:hover {
    text-decoration: none;
  }
  
  .tab-content {
    padding: 1rem;
    border: 1px solid #ddd;
    border-top: 0;
  }
  
  .nav-link-2 {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;
  }
  